<html>

<head>
  <title>What's in my face?</title>
  <style>
    td,
    p,
    input {
      font: 14px; font-family : lato; font-weight: bold;
    }

    table,
    td {
      border: solid 0px #DDD;
      border-collapse: collapse;
      padding: 2px 3px;
      
      width: 240px;
    }
    h1 {
    display: block;
    font-size: 2em;
    margin-top: 0.7em;
    margin-bottom: 0em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    align: center;
    font-family : lato
}

  </style>
</head>

<body style="background-color: rgb(243, 235, 235)"  >
  
  <h1 align="center" font-family="lato">What's in my face? </h1>

  <table align="center">
    <tr>
      <td>
        <img src="{{ url_for('video_feed') }}"  height="500" width="666">
        <!-- <img src="{{ url_for('video_feed2') }}"> -->
      </td>
      <td>
       <p  id="showData"></p>
      </td>
    </tr>
  </table>

  <script>
    whatever = () => {
      fetch("/attributes")
        .then(response => response.json())
        .then(data => {
          //debugger
          // console.log(data)
          attribute_name = Object.keys(data)
          // console.log(attribute_name)
          // console.log(attribute_name[2])
          //get header
          var table = document.createElement("table");

          // CREATE HTML TABLE HEADER ROW USING THE EXTRACTED HEADERS ABOVE.

          for (var i = 0; i < attribute_name.length; i++) {
            var tr = table.insertRow(-1);
            var tabCell = tr.insertCell(-1);
            tabCell.innerHTML = attribute_name[i];
            var tabCell = tr.insertCell(-1);
            tabCell.align="right"
            
            tabCell.innerHTML = data[attribute_name[i]]+" %";
          }


          // FINALLY ADD THE NEWLY CREATED TABLE WITH JSON DATA TO A CONTAINER.
          var divContainer = document.getElementById("showData");
          divContainer.innerHTML = "";
          divContainer.appendChild(table);

          //new Text("results",data) 

          //insert dom element
        })
    }

    setInterval(whatever, 1000);


  </script>

</body>

</html>
